<!-- templates/profile.html -->
{% set active_page = doc_name %}

{% extends "base.html" %}

{% block content %}
<div style="text-align:center;">
	<!-- <iframe src="/static/pdfjs/web/viewer.html?file=/download/{{ token }}" style="min-height:75vh;width:75%" allowfullscreen></iframe> -->
	<iframe src="/static/pdfjs/web/viewer.html?file=/download/{{ token }}" allowfullscreen style="min-height:80vh;width:100%"></iframe>
	<!-- <iframe referrerpolicy="no-referrer" src="https://docs.google.com/gview?url={{config.WEBSITE_HOST}}/download/{{ token }}" style="min-height:75vh;width:75%" allowfullscreen></iframe> -->
	<a class="btn btn-primary" href="/download/{{ token }}" download>Download</a>
</div>
{% endblock %}