<!-- templates/login.html -->
{% extends "base.html" %}
{% set active_page = "Login" %}

{% block headexpand %}
<style>
.half-width-form-control {
           display: inline-block;
           width: calc(50%);
}
</style>
{% endblock %}


{% block content %}
<div>
    <h3>Login</h3>
    <div>
        <form method="POST" action="{{url_for('auth.login')}}">
            <div>
                <input class="form-control half-width-form-control" type="text" name="username" placeholder="Username" autofocus="">
            </div>
            <div>
                <input class="form-control half-width-form-control" type="password" name="password" placeholder="Password">
            </div>
            <div>
                    <input name="remember" type="checkbox">
                    <label>Remember Me</label>
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}