<!-- templates/login.html -->

{% extends "base.html" %}
{% set active_page = "Search" %}

{% block content %}

<div>
    {% if query %}
        <h1>Results for "{{ query }}"</h1>
    {% else %}
        <h1>Search Documents</h1>
    {% endif %}
    We search document titles and return the newest 25 results of your query.
    <div>
        <form method="get" action="{{url_for('search.search_page')}}">
            <input type="text" name="q" placeholder="Search Query" autofocus="">
            <button class="btn btn-default" type="submit">Search</button>
        </form>
    </div>
    <div>
        <br>
        {{query_results}}
    </div>
</div>
{% endblock %}